Source: coverboy
Maintainer: Jonathan Matarazzi <git@jonathanm.nl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils

Package: coverboy
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Album cover display
 Display album covers on a RasPi connected to a 64x64 RGB LED matrix.
